[train] #train parameters
epoch = 16
batch_size = 128

reader_num = 1

optimizer = adam
learning_rate = 1e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1

[eval] #eval parameters
batch_size = 128

reader_num = 1

[data] #data parameters
train_dataset_type = Cifar10
train_formatter_type = Cifar10
train_data_path = /home/cyd/cifar-10-batches-py
train_file_list = data_batch_1 data_batch_2 data_batch_3 data_batch_4

valid_dataset_type = Cifar10
valid_formatter_type = Cifar10
valid_data_path = /home/cyd/cifar-10-batches-py
valid_file_list = data_batch_5

test_dataset_type = Cifar10
test_formatter_type = Cifar10
test_data_path = /home/cyd/cifar-10-batches-py
test_file_list = test_batch

load_into_mem = True


[model] #model parameters
model_name = NaiveCNN

output_dim = 4

[output] #output parameters
output_time = 20
test_time = 2

model_path = /home/cyd/pytorch-worker/model/cv
model_name = NaiveCNN

tensorboard_path = /home/cyd/pytorch-worker/tensorboard

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision,macro_precision,macro_recall,macro_f1

tqdm_ncols = 150
